@import "compass/css3";

*, *:before, *:after {box-sizing:  border-box !important;}


article {
 -moz-column-width: 13em;
 -webkit-column-width: 13em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}

section {
 display: inline-block;
 margin:  0.25rem;
 padding:  1rem;
 width:  100%; 
 background:  #efefef;
}


p {
 margin:  1rem 0; 
}




/*  styles for background color, etc; not necessary for this thing to work  */



body {
 padding:  1em;
 font-family:  "Garamond", serif; 
}




h1 {
  font-size:  3rem;
  font-weight:  800;
}

body {
  line-height:  1.25;
}


p {
 text-align:  left;
}

img {
    max-width: 100%;
    max-height: 100%;
}
